.icon-button {
  cursor: pointer;
  opacity: 0.7;
}
.icon-button:hover {
  opacity: 1;
}
.icon-button_pressed {
  color: tomato;
  opacity: 1;
}
.icon-button_disabled,
.icon-button_disabled:hover {
  opacity: 0.3;
}